#content {
  margin-top: 72px !important;
  margin: 12px;
}

.pets {
  margin-bottom: 8px;
  max-height: 75%;
  width: 75%;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.name-input {
  width: 75%;
}

.poop-divider {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.deleteButton {
  margin-left: 10px !important;
  margin-top: -5px !important;
}

#appbar-title {
  font-family: Papyrus, Copperplate, fantasy;
  font-size: 26px;
}
